@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  /* background: black; */
}

* {
  box-sizing: border-box;
}

/* *:hover {
  outline: 1px blue solid;
} */

.next-img-fill-container {
  width: 100%;
}

.next-img-fill {
  width: 100% !important;
  height: unset !important;
  position: relative !important;
  object-fit: contain;
}

@layer base {
  .h1-default, h1 {
    @apply !text-h1-sm md:!text-h1-md lg:!text-h1-lg !font-bold;
  }
  .h2-default, h2 {
    @apply !text-h2-sm md:!text-h2-md lg:!text-h2-lg !font-bold;
  }
  .h3-default, h3 {
    @apply !text-h3-sm md:!text-h3-md lg:!text-h3-lg !font-bold;
  }
  .h4-default, h4 {
    @apply !text-h4-sm md:!text-h4-md lg:!text-h4-lg !font-bold;
  }
  .h5-default, h5 {
    @apply !text-h5-sm md:!text-h5-md lg:!text-h5-lg !font-bold;
  }
  .h6-default, h6 {
    @apply !text-h6-sm md:!text-h6-md lg:!text-h6-lg !font-bold;
  }
  .p-default, p {
    @apply text-p-sm md:text-p-md lg:text-p-lg;
  }
}